<div class="form-inputs">
  <%= simple_form_for(@collection) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name , label: "Collection Name", :label_html => { :class => 'field' }%>
    <%= f.input :acquisition_source, label: "Acquisition Source", :label_html => { :class => 'field' } %>
    <%= f.input :acquisition_date, as: :date,  label: 'Acquisition Date', :label_html => { :class => 'field' }%>
    <%= f.input :src_datadir, as: :file,  label: "Select a File to Upload",  :label_html => { :class => 'field' }%>
    <%= f.input :isdir,  as: :radio_buttons,  label: "File upload is a zipped directory of the collection",  :label_html => { :class => 'field' }%>
    <%= f.input :notes, as: :text,  label: "Collection Notes",  :label_html => { :class => 'field' }%>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
