<div class="item">
  <div class = "item_h1"> Collection Listing</div>
  <div class="collection_table">
    <table>
      <thead>
        <tr>
          <th>Collection Name</th>
          <th>Acquisition Date</th>
          <th> Documents </th>
          <th>PreProcesses</th>
          <th>Extract Topic Models</th>
           <th>Extract Named Entities</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @collections.each do |collection| %>
          <tr>
            <td><%= link_to collection.name, collection %></td>
            <td><%= collection.acquisition_date %></td>
            <td><%= link_to "Documents", collection_documents_path(collection.id) %></td>
            <td><%= link_to "PreProcess", collection_preprocesses_path(collection.id) %></td>
            <td><%= link_to "Extract Topic Models",   collection_extract_topics_path(collection.id) %></td>
             <td><%= link_to "Extract Named Entities",   collection_extract_ners_path(collection.id) %></td>
            <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
            <td><%= link_to 'Delete', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="collections_break">
  </div>
  <div class="link_nav">
    <%= link_to 'Add a New Collection', new_collection_path %>
  </div>
</div>
