

<%= simple_form_for([ @extract_ner ]) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">

 <%= f.input :collection_id,  collection: @collections_array,  prompt: "Select  a collection to use:", label: "Select a Collection to Process" ,:label_html => { :class => 'field' }   %>
<div id="mdformsp"></div>
<div id="form_checkbox_pos_right">
  <%= f.input :ner_peeps, inline_label:"Extract People, Places, Organizations and Dates from the Collection", label:false %>
  </div>
</div>

  <div class="form-actions">
  <%= f.button :submit,  'Submit'%>
  </div>


<% end %>
