<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @extract_ner.status %>
</p>

<p>
  <strong>Fname base:</strong>
  <%= @extract_ner.fname_base %>
</p>

<p>
  <strong>File dir:</strong>
  <%= @extract_ner.file_dir %>
</p>

<p>
  <strong>Status:</strong>
  <%= @extract_ner.status %>
</p>

<%= link_to 'Edit', edit_extract_ner_path(@extract_ner) %> |
<%= link_to 'Back', extract_ners_path %>
