<div class = "item_header"><h2> <%=@collection.name.titleize%> Collection: <%= @extract_topic[:routine_name].titleize %> </div>
<div class="row-fluid">
<div class="searchpad">
      <input class="searchbox" type="text" name="search"><br>
      <input  class="searchsubmit" type="submit" value="search topics">
</div>
</div>
 <div class="spacer"> </div>
<div class="row-fluid">
  <div class="apple_pagination">
    <div class="page_info">
    </div>
    <%= will_paginate @topics, :container => false %>
    <div class="tinybreak">
      <%= link_to 'Go Back to Topic Model Home', extract_topics_path %>
    </div>
  </div>
</div>

<div class="bottom_padding"></div>



<div id="delete"> You can delete topics by clicking on the x </div>
<% @topics.each do |t| %>
<div class="row-fluid">
<div id="wtf2">
<div id="del"> <%=link_to '&#10008;'.html_safe, t, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_topic' %></div>
  <div id="topic_num"><%= link_to "Topic " +t[:topic_number] + ": ", extract_topic_topic_path( t[:extract_topic_id], t[:id]) %></div>
  <div id="top_items"><%=  t[:name]  %></div>
  </div>
  <div id="wtf">
  <%end%>
</div>
<div class="top_padding"></div>
<div class="row-fluid">
<div class="apple_pagination">
  <%= @extract_topic[:routine_name].titleize %>
  <div class="page_info">
    <%= page_entries_info @topics %>
  </div>
  <%= will_paginate @topics, :container => false %>
  </div>


  <div class = "tinybreak">
    <%= link_to 'Go Back to Topic Model Home',  extract_topics_path %>
  </div>


