<div class="topline"> <%= @collection[:name]  + " Collection | " +@extract_topic[:routine_name] %> </div>


<div id="topic_header">
 <%="Topic " + @topic[:topic_number] + ": " + @topic[:name] %>
 </div>


<h3>Top documents associated with this topic: </h3>

<% counter = 0 %>
<div id="omg"> document ->  Mallet topic share score </div>

<% @doc_dict.each do |k, v| %>
 <%if @doc_scores[counter].round(5) >= 0.05 %>
      <div class="row-fluid">
      <div class="doc1">

      <%= link_to v, extract_topic_topic_doc_path( @extract_topic[:id], k) %>
      &#8674;
     <%= @doc_scores[counter].round(5) %>
     <% end %>
      </div>
      <% counter = counter + 1   %>
<%end%>
</div>


<div id="force">
<%= link_to "&#8674; Back to Topic Listing".html_safe, extract_topic_topics_path( @extract_topic[:id]) %>
</div>
