
<div id = "topic_doc">
 <%= @collection[:name] + " Collection " %>  |  <%= @docname %>
</div>



<div class="original_doc">
<div class="original_doc_padding">
<h5> Original Document Contents </h5>
 <%=@orig_file_contents.html_safe %>
</div>
</div>

<div class="topicsidebar">
 <div class="well sidebar-nav">
<h5> <%= @extract_topic[:routine_name]  %></h5>
<h5>Top 50 Topics Associated with this Document: </h5>
<ul class="nav nav-list">
<% counter = 0  %>
<% @assoc_topics.each do |k, v| %>
  <% if counter == 0 %>
<li>CURRENT TOPIC: <%= link_to v, collection_extract_topic_topic_path(@collection[:id], @extract_topic[:id], k) %> &#8674;
   <%= @topic_scores[counter].round(5) %> </br></br> ADDITIONAL TOPICS:  </li>
     <% counter = counter + 1   %>
    <%else%>
     <li> <%= link_to v, collection_extract_topic_topic_path(@collection[:id], @extract_topic[:id], k) %> &#8674;
   <%= @topic_scores[counter].round(5) %>   </li></br>
     <% counter = counter + 1   %>
     <%end%>
              </ul>
    <%end%>
  </div>
</div>

<div class = "mybreak"></div>
<p></p>
<div class="chopped_doc">
<div class="chopped_doc_padding">
<% if @pp_routine_name != "Plain Text" %>
<h5><%=@pp_routine_name %> Document Contents </h5>
<%=@chopped_file_contents.html_safe %>
<%  end %>
</div>
</div>



