<div id = "ner1">
  <div class = "item_h_other"><%= @ner[:name] %></div>
  <div id="ner_cn_name">THE <%= @collection.name.upcase %> COLLECTION </div>
    <%  if not @similar_items.nil? %>
     <div id ="sim_terms">  Similar terms: </div>
      <div id = "similiar_docs">
        <% counter = 0 %>
        <%@similar_items.each do | sm_item| %>
          <%if counter !=  @similar_items.size()  -1 %>
            <%= link_to sm_item[1] + ",", extract_ner_ner_path(@collection[:id], sm_item[0]) %>
            <% counter = counter +1  %>
          <%else %>
            <%= link_to sm_item[1], extract_ner_ner_path(@collection[:id], sm_item[0]) %>
          <%end%>
        <%end%>
       </div>
    <%end%>
  </div>


    <h4> Appears <%= @ner[:count] %> times in the following documents: </h4>
    <% @thenerdocs.each do |k,v| %>
        <% docct = (v[0] + " &#8674; " + v[1].to_s).html_safe %>
        <div class="doclink"> <%= link_to docct, document_path(@collection[:id], k) %></div>
    <%end%>



<div class="apple_pagination">
  <div class="page_info"></div>
  <%= will_paginate @thenerdocs, :container => false %>
  <div class = "tinybreak"></div>
</div>

<div class="link_nav">
  <%= link_to 'Back', extract_ner_ners_path %>
</div>
