<div class="item">
  <div class = "item_h1"> Document Listing for the <%= @collection[:name] %> Collection</div>

<div class="docs">
<% @documents.each do |document| %>
<p>
<%= link_to  document[:name], collection_document_path(@collection[:id], document[:id]) %>
</p>
    <% end %>
</div>



<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @documents %>
    </div>
    <%= will_paginate @documents, :container => false %>
    </br>
     <%= link_to "Collection Home", collections_path%>
  </div>

<div class="item">
