
  <div id = "item_login_head"><h1> Welcome to ArchExtract</h1></div>
  <div id = "item_login_signup"><h3> Not registered? Signup <%= link_to "here", new_user_registration_path %></h3></div>


  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, :label_html => { :class => 'field' }  %>
    <%= f.input :password, required: false, :label_html => { :class => 'field' }  %>
  </div>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div id ="forgot_pass">
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    </div>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>

  <% end %>
