<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Archextract" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <% if  session[:collection_id] %>
    <%  @usrcollectionid  = session[:collection_id]%>
    <%end%>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="mynav">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div id="mynavarch">
          <img src="/images/book.jpg" alt="exploding book" /> Archextract</a>
          </div>
          <div class="container nav-collapse">
            <ul class="nav">
             <li> <div class="mynavitems_first"> <%= link_to "Collections", collections_path  %></div></li>
               <li><div class="mynavitems"><%= link_to "Documents", collection_documents_path( @usrcollectionid)  %></div> </li>
               <li><div class="mynavitems"><%= link_to "Pre-Processes", collection_preprocesses_path( @usrcollectionid)  %></div> </li>
               <li><div class="mynavitems"><%= link_to "Topic Models", collection_extract_topics_path( @usrcollectionid)  %></div> </li>
                <li><div class="mynavitems"><%= link_to "Named Entities", collection_extract_ners_path( @usrcollectionid)  %></div> </li>
             <li> <div class="mynavitems"><a href="http://bancroft.berkeley.edu/"> Bancroft Library Home</a></div></li>
            </ul>
            </div>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
      </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="span9">
            </br></br></br></br>
             <div id="topbreak"></div>
             <%= flash_messages %>
            <%= yield %>
          </div>
          </div>



      <div class ="myfooterpad"> </div>
      <footer>
      <div class="footercenter">
     &copy <a href="http://bancroft.berkeley.edu/"> Bancroft Library 2014</a>
     </div>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
